
<%= foundation_datepicker_locale_tag %>

<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 medium-centered">
        <div class="card">
          <div class="card__content">
            <%= decidim_form_for(@form, {url: decidim_salou_census.authorization_path, method: form_method}) do |form| %>
              <div class="field">
                <%= form.text_field :document_number %>
              </div>

              <div class="field">
                <%= form.date_field :birthdate, {required: true} %>
              </div>

              <div class="actions">
                <%= form.submit t(".send"), class: "button expanded", "data-disable-with" => "#{t('.sending')}..." %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
